@using ComboBoxRemote.Core.Tester.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
	@using (Html.BeginForm())
	{
		if (ViewBag.Message != null)
		{
			<div class="alert alert-danger" role="alert">
				@Html.Raw(ViewBag.Message)
			</div>
		}

		@Html.EditorForModel()

		<button type="submit">Save</button>
	}

</div>